@use '../variable/colors';
@use '../variable/font-size';
@use '../variable/basics';
@use '../variable/layout';

.container {
  background-color: colors.$primary;
  @include layout.basicLayout;
  main {
    section:nth-child(1) {
      height: 40vh;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-direction: column;
      picture{
        height: 50%;
        width: fit-content;
        z-index: basics.$zIndexFront;
        img{
          height: 100%;
        }
      }
      h1{
        font-size: font-size.$titlePortrait;
        color: colors.$title;
        width: fit-content;
      }
    }
    section:nth-child(2){
      position: relative;
      height: 40vh;
      display: flex;
      justify-content: center;
      align-items: center;
      > div {
        position: relative;
        width: 90%;
        min-width: 220px;
        max-width: 600px;
        height: 70%;
        background-color: orange;
        display: flex;
        div:nth-child(2),
        div:nth-child(4){
          position: relative;
          width: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          border: 2px solid red;
          h2{
            position: relative;
            font-size: font-size.$titleSecundaryP;
            bottom: 0%;
          }
        }
        div:nth-child(1),
        div:nth-child(3){
          position: absolute;
          width: 5%;
          height: 100%;
          border: 2px solid yellow;
          font-size: 10px;
        }
        div:nth-child(3){
        right: 0;
        }
      }
    }
  }
  footer{
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    > div{
      text-align: end;
      width: 70%;
      margin: 0 auto;
      a{
        img {
          height: 1.5rem;
        }
      }
    }
  }
}

@media only screen and (orientation: landscape){
  .container{
    main {
      section:nth-child(1) {
        h1 {
          font-size: font-size.$titleLandscape;
        }
      }
    }
  }
}